<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'></text></svg>">

    {# Bootstrap CSS #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
    body {
        background-color:#fdf9f3;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    .navbar, footer {
        background-color: rgba(216, 187, 150, 0.15);
        backdrop-filter: blur(5px);
    }

    .navbar .nav-link, .navbar .navbar-brand {
        color: white !important;
        font-weight: 500;
    }

    .navbar .nav-link:hover {
        text-decoration: underline;
        color: #5e4630 !important;
    }

    footer {
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 15px 0;
        margin-top: 20px;
    }

    .btn-primary {
        background-color: rgba(216, 187, 150, 0.64);
        border-color: rgba(216, 187, 150, 0.64);
        color: white;
    }

    .btn-primary:hover {
        background-color: rgba(216, 187, 150, 0.8);
        border-color: rgba(216, 187, 150, 0.8);
        color: white;
    }
</style>


    {% block stylesheets %}{% endblock %}
</head>

<body>

    {#  Navbar globale #}
    {% include 'partials/_navbar.html.twig' %}

    <main class="container mt-4">
        {% block body %}{% endblock %}
    </main>

    {#  Footer global #}
    <footer>
        &copy; 2025 Readify  - Tous droits réservés
    </footer>

    {#  Bootstrap JS #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    

    {% block javascripts %}
        
    {% endblock %}
</body>
</html>
