{% block stylesheets %}
    <style>
        .btn-readify-outline {
            color: rgb(15, 14, 14);
            border: 1px solid rgb(46, 45, 45);
            background-color: transparent;
            transition: 0.3s ease-in-out;
            padding: 8px 20px;
            font-weight: 500;
            font-size: 1rem;
        }

        .btn-readify-outline:hover {
            background-color: rgb(25, 25, 25);
            color: white;
            border-color: rgb(84, 83, 83);
        }
    </style>
{% endblock %}

<form method="post"
      action="{{ path('app_categorie_delete', {'id': categorie.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?');"
      class="d-inline-block mt-3">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">

    <button type="submit" class="btn btn-readify-outline">
         Supprimer la catégorie
    </button>
</form>
